<h1>Data Fetching from Success1 HTTP Request --- <span style="color: red">{{status}}</span></h1>
<div>
    PRAGIM Established in 2000 by 3 S/W engineers offers very cost effective training.PRAGIM Specially in training arena
    unlike other training institutions.
</div>
<ul>
  <li>Training delivered by real time softwear experts having more than 10 years of Experience.</li>
  <li>Realtime Projects discussion realting to the possible interview Questions.</li>
  <li>Trainees can attend training and use lab untills you get a job.</li>
  <li>Resume Preperation and mock up interviews.</li>
  <li>100% placement assistance.</li>
  <li>Lab facility.</li>
</ul>
